<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1>
  <meta name="author" content="Happy Birthday Song">
  <meta name="description" content="Happy Birthday Song">
  <meta name="keywords" content="Happy Birthday Song">
  <title>Santos - CS 3 </title>
  <!-- using the w3.css framework to show how predefined css classes can be used inside an html document.  -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- local css property definitions to further enhance the page -->
  <link href="style.css" rel="stylesheet" type="text/css" />

  <link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/R.d4a0b5ee51a19114d536944ff3c713f8?rik=4yz1BUv0oDFUww&riu=http%3a%2f%2fclipartmag.com%2fimages%2ftransparent-flower-clipart-7.png&ehk=vKb%2fp2Z6frFRcVYAkmnPdDxlq%2bW%2f3LOoRTs8Y99qqDU%3d&risl=1&pid=ImgRaw&r=0">
</head>

<!--- classes that starts with w3 are defined inside w3.css -->
<body class="w3-container w3-auto">

  <!-- do define the navigation bar using classes to define a button styled as a link
      take note: just a demonsration on how it can be used. Responsive to the size of the viewport
  -->
  <div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Happy</a> 
  </div>


  <header class="w3-container" id="header" > 
    <h1>Mariana Santos - March 27,2025</h1>
    <h2> Birthday </h2>
  </header>

  <section class="w3-container" id="input"> 
    <h2>Output</h2>
    <h3 id="outputt">{{birthday}}</h3>
  </section>

  <footer class="w3-container ">
    <p> &copy; 2024 CS3 Teachers </p>
  </footer>


</body>

</html>


